body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
label {
  display: inline-block;
}
/* Dashboard task view */
.card {
  cursor: pointer;
  background-color: white;
  padding: 0;
  margin-bottom: 15px;
  box-shadow: 0px 0px 8px 3px rgb(235, 235, 235);
}
/* Task modal */
.taskDetails {
  background-color: white;
  width: 45%;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}
/* Options bar */
.bar {
  width: 100vw;
  height: 10vh;
  background-color: #940000;
}
.dropdown-item{
  padding-left: 12px;
  cursor: pointer;
}
.dropdown-item:hover{
  background-color: rgb(235, 235, 235);
}
/* Option button */
.icon {
  cursor: pointer;
  margin: 2vh 0 2vh 2vw;
  font-size: 6vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
.option {
  cursor: pointer;
  margin: 2vh 2vw 2vh 0;
  font-size: 4vh;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
